/Hmwk/Setup Hmwk/build/
/Hmwk/Setup Hmwk/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob13_CircuitBoardPrice/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob13_CircuitBoardPrice/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob14_PersonalInformations/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob14_PersonalInformations/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob15_TriangleShape/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob15_TriangleShape/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob16_DiamondShape/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob16_DiamondShape/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob18_energyDrink/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob18_energyDrink/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob2_SalesPredictions/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob2_SalesPredictions/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob3_SalesTax/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob3_SalesTax/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob5_AverageofValues/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob5_AverageofValues/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob1_MinMax/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob1_MinMax/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob2_RomanConverter/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob2_RomanConverter/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob3_MagicDates/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob3_MagicDates/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4_AreaofRectangles/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4_AreaofRectangles/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob5_BodyMassIndex/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob5_BodyMassIndex/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob6_Mass&Weight/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob6_Mass&Weight/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob16_RunningtheRace/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob16_RunningtheRace/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob9_ChangeforaDollarGame/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob9_ChangeforaDollarGame/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob12_SoftwareSales/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob12_SoftwareSales/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob23_GeometryCalculator/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob23_GeometryCalculator/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob1_SumofNumbers/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob1_SumofNumbers/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob2_Charactersforthe ASCIICodes/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob5_MembershipFeeIncrease/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob5_MembershipFeeIncrease/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob6_DistanceTraveled/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob6_DistanceTraveled/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob22_SquareDisplay/build/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob22_SquareDisplay/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob20_RandomNumberGame/dist/
/Hmwk/Assignment_4/Gaddis_8thEd_Chap5_Prob20_RandomNumberGame/build/
/Hmwk/Midterm_1/CSC5_MidTerm1_Prob1_XShapeNumberInput/build/
/Hmwk/Midterm_1/CSC5_MidTerm1_Prob1_XShapeNumberInput/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob1_Markup/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob1_Markup/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob22_IsPrimeFunction/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob22_IsPrimeFunction/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob20_StockProfit/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob20_StockProfit/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob23_PrimeNumberList/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob23_PrimeNumberList/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob15_OverloadedHospital/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob15_OverloadedHospital/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob2_RectangleArea/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob2_RectangleArea/build/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob7_CelsiusTemperatureTable/dist/
/Hmwk/Assignment_5/Gaddis_8thEd_Chap6_Prob7_CelsiusTemperatureTable/build/