/Hmwk/Setup Hmwk/build/
/Hmwk/Setup Hmwk/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob10_MilesperGallon/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob12_LandCalculation/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob13_CircuitBoardPrice/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob13_CircuitBoardPrice/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob14_PersonalInformations/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob14_PersonalInformations/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob15_TriangleShape/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob15_TriangleShape/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob16_DiamondShape/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob16_DiamondShape/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob18_energyDrink/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob18_energyDrink/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob1_SumofTwoNumbers/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob2_SalesPredictions/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob2_SalesPredictions/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob3_SalesTax/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob3_SalesTax/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob5_AverageofValues/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob5_AverageofValues/dist/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/build/
/Hmwk/Assignment_1/Gaddis_8thEd_Chap2_Prob8_TotalPurchase/dist/